// ====================================
// Global fonts
// ====================================

/*
* TABLE OF CONTENTS
*
* Baomoi
*/


/* > dusha worldcup */


@font-face {
    font-family: 'Dusha V5';
    src: url('../fonts/dusha/DushaV5-Regular.woff2') format('woff2'),
        url('../fonts/dusha/DushaV5-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

