// ====================================
// soccer's style
// ====================================

/*
* TABLE OF CONTENTS
*
* fix style for worldcup
* animation
* CODER REQUEST CODE
*/

// > fix style for worldcup
.e-bookmark{
    .alert-warning{
        background-color: rgba(255, 255, 255, .4) !important;
        color: #fff;
        border: none;
        margin: 0;
        margin-bottom: 10px;
    }
}

.worldcup {
    background-color: #f1ebe3;
    .soccer-miniBox__content .title{
        background-color: $wc-color;
    }
    .nav {
        background-color: $wc-color;
        .is-active,
        a:hover {
            background-color: darken($wc-color, 10%);
        }
        .nav__child {
            background-color: $wc-color;
        }
    }
    .footer__bar {
        background-color: $wc-color;
    }
    .s-breadcrumb {
        background: url(../img/soccer/wc-main-filter.png) -70px top no-repeat;
        background-color: $wc-color;
        background-size: 970px 60px;
        .filter {
            a{
                width: 100px;
            }
            a:hover,
            .is-active {
                background-color: darken($wc-color, 10%);
                border: none;
            }
        }
        .title {
            a{padding: 0;}
            i{
                margin-right: 0;
            }
            a:hover{
                opacity: .7;
            }
        }
    }
    .s-league {
        .heading {
            background: $wc-color url(../img/soccer/wc-bg.png) 0 0 no-repeat;
            background-size: 242px 71px;
            width: 180px;
            height: 34px;
            color: #fff;
            padding-left: 10px;
            text-transform: uppercase;
            @include font(16, 36);
            margin-bottom: 10px;
        }
        .parent {
            >a {
                &:hover {
                    background: #fff url(../img/soccer/wc-ball.png) right 10px top 10px no-repeat;
                    background-size: 24px 24px;
                    color: $wc-color;
                }
            }
        }
    }
}

.rightBox-1,
{
    &__content {
        .story {
            margin-bottom: 15px;
            &__thumb {
                width: 230px;
                height: 125px;
                margin-bottom: 10px;
            }
            &__heading{
                @include font(15,18);
            }
        }
    }
}

// ==========
.e-home {
    .e-news,
    {
        @include clearfix();
        margin-bottom: 40px;
    }
    .e-list {
        padding-bottom: 20px !important;
    }
}

.e-groupDetail {
    .e-table {
        padding-bottom: 40px;
    }
    .e-list {
        padding-bottom: 20px;
    }
}

.e-teamDetail {
    .e-list,
    .e-table,
    {
        margin-bottom: 40px;
    }
}

.e-matchDetail {
    .e-list,
    .e-table,
    {
        margin-bottom: 40px;
    }
}

.e-footer {
    a {
        display: block;
        width: 100%;
        height: 200px;
        background-image: url(../img/soccer/wc-footer.png);
        background-size: 460px 195px;
        background-repeat: no-repeat;
        @include breakpoint($iphone-5) {
            background-position: calc(50% + 40px) 0;
        }
        @include breakpoint($iphone-6) {
            background-position: calc(50% + 45px) 0;
        }
        @include breakpoint($iphone-6-plus) {
            background-position: calc(50% + 25px) 0;
        }
        @include breakpoint(sm) {
            background-position: 50% 0;
        }
    }
}

// ==========

.e-matchDetail,
.e-teamDetail,
{
    .cate-title {
        font-size: 0;
        position: relative;
        z-index: 10;
        position: relative;
        @include breakpoint(xs) {}
        @include breakpoint(sm) {
            padding-left: 30px;
        }
        span {
            display: inline-block;
            text-transform: uppercase;
            @include font(16,
            36);
            height: 34px;
            color: #fff;
            position: relative;
            padding: 0 50px 0 0;
            background: url('../img/soccer/wc-heading-r.png') right 0 top 0 no-repeat;
            background-size: 313px 34px;
            min-width: 200px;
            &:before,
            {
                content: '';
                width: 30px;
                height: 34px;
                display: block;
                position: absolute;
                top: 0;
                background: url('../img/soccer/wc-heading-l.png') no-repeat;
                background-size: 30px 34px;
            }
            &:before {
                left: -30px;
            }
        }
    }
}

.e-home,
.e-schedule,
.e-bookmark,
{
    .cate-title {
        font-size: 0;
        position: relative;
        z-index: 10;
        position: relative;
        &:before{
            position: absolute;
            height: 1px;
            background-color: rgba(255, 255, 255, .5);
            content: '';
            left: 0;
            right: 0;
            top: 20px;
        }
        span {
            text-align: center;
            background-image: url('../img/soccer/heading-short-1.0.4.png');
            background-repeat: no-repeat;
            background-size: 176px 40px;
            width: 176px;
            height: 40px;
            margin: 0 auto;
            display: inline-block;
            @include font(16,40);
            text-transform: uppercase;
            color: $wc-color;
            position: relative;
            padding: 0 3px;
            display: block;
        }
    }

}
.e-groupDetail
{
    .cate-title {
        font-size: 0;
        position: relative;
        z-index: 10;
        position: relative;
        @include breakpoint(xs) {
            margin-left: -10px;
            margin-right: -10px;
            padding-left: 25px;
            padding-right: 10px;
        }
        @include breakpoint(sm) {
            padding-left: 15px;
        }
        span {
            height: 29px;
            display: inline-block;
            @include font(14,
            29);
            text-transform: uppercase;
            color: #fff;
            background-color: rgba(255, 255, 255, .3);
            position: relative;
            padding: 0 3px;
            &:before,
            &:after {
                content: '';
                width: 15px;
                height: 29px;
                display: block;
                position: absolute;
                top: 0;
                background-image: url('../img/soccer/wc-sprite-1.0.4.png');
                background-repeat: no-repeat;
                background-size: ($worldcup-w + px) ($worldcup-h + px);
                opacity: .3;
            }
            &:before {
                left: -15px;
                background-position: -0px -200px;
            }
            &:after {
                right: -15px;
                background-position: -25px -200px;
            }
        }
    }
}

// ==========
.e-btn {
    border: none;
    background-color: transparent;
    display: inline-block;
    &--full-list {
        @include font(14, 32, $normal);
        width: 100%;
        background-size: 140px 27px;
        background-color: rgba(255, 255, 255, .1);
        margin-top: -10px;
        color: #fff;
        &:hover{
            background-color: rgba(255, 255, 255, .3);
            color: #fff;
        }
    }
}

// ==========
.time-title {
    z-index: 10;
    background-image: url(../img/soccer/wc-bg.png);
    background-size: 242px 170px;
    background-color: $wc-color;
    background-repeat: repeat;
    background-position: 0 0;
    background-color: rgba(255, 255, 255, .3);
    color: #fff;
    span {
        height: 27px;
        display: inline-block;
        @include font(14,
        27);
        text-transform: uppercase;
    }
    @include breakpoint(xs) {
        margin-left: -10px;
        margin-right: -10px;
        padding-left: 10px;
        padding-right: 10px;
    }
    @include breakpoint(sm) {
        padding-left: 10px;
        padding-right: 10px;
    }
}

// ==========

.e-list {
    font-size: 0;
    padding: 10px;
    background-color: $wc-color;
    .home-title {
        @include clearfix();
        margin-bottom: 10px;
        span {
            margin-top: -32px;
            float: left;
        }
    }
    .cate-title {
        margin-bottom: 10px;
    }
    .time-title {
        margin-bottom: 10px;
    }
    .content {
        @include clearfix();
        padding-bottom: 20px;
        &.static-html {
            .team {
                span {
                    font-size: 14px !important;
                }
            }
        }
    }
    .item {
        font-size: 0;
        border-radius: 3px;
        border: 1px solid #eee;
        background-color: #f7f7f7;
        margin-bottom: 10px;
        position: relative;
        background-color: rgba(255, 255, 255, .1);
        border: none;
        >a {
            @include clearfix();
            display: block;
            padding: 10px 0 16px;
        }
        >a:hover {
            background-color: #eee;
        }
        >a:hover {
            background-color: rgba(255, 255, 255, .3);
        }
        .info {
            @include font(13,
            16,
            $normal);
            text-align: center;
            margin-bottom: 10px;
        }
        .team {
            @include font(16,
            24);
            display: inline-block;
            width: calc(50% - 25px);
            display: inline-block;
            vertical-align: top;
            height: 24px;
            color: #fff;
            span {
                overflow: hidden;
                height: 24px;
                display: inline-block;
                @include breakpoint($iphone-5) {
                    max-width: 85px;
                }
                @include breakpoint($iphone-6) {
                    max-width: 90px;
                }
                @include breakpoint($iphone-6-plus) {
                    max-width: 110px;
                }
            }
        }
        .info,
        .team,
        {
            color: #fff;
        }
        i.flag {
            vertical-align: top;
            @include breakpoint($iphone-5) {
                transform: scale(.8333333333);
            }
        }
        .team.home {
            text-align: right;
            padding-right: 1px;
            @include breakpoint($iphone-6-plus) {
                i {
                    margin-left: 3px;
                }
            }
        }
        .team.away {
            padding-left: 1px;
            @include breakpoint($iphone-6-plus) {
                i {
                    margin-right: 3px;
                }
            }
        }
        .sco {
            @include font(16,
            24);
            width: 50px;
            text-align: center;
            display: inline-block;
            vertical-align: top;
            color: #fff;
        }
        .number {
            position: absolute;
            top: 0;
            left: 0;
            padding: 3px 10px;
            border-radius: 3px 0 3px;
            color: #fff;
            background: rgba(255, 255, 255, 0.05);
            border: none;
        }
        .round,
        .daytime,
        {
            color: rgba(255, 255, 255, 0.6);
        }
        .time {
            font-size: 16px;
        }
    }
    .btn-wrap {
        text-align: center;
    }
    .match-live {
        .number {
            background-color: red;
            -webkit-animation: livebg-blink 1s infinite;
            -moz-animation: livebg-blink 1s infinite;
            -o-animation: livebg-blink 1s infinite;
            animation: livebg-blink 1s infinite;
            color: #fff;
        }
    }
    .has-pen{
        position: relative;
        > a{
            padding-bottom: 25px;
        }
        .pen{
            font-size: 13px;
            color: #fff;
            width: 60px;
            display: inline-block;
            text-align: center;
            margin: 0 auto;
            position: absolute;
            top: 60px;
            left: calc(50% - 30px);
        }
    }
    .bookmark{
        position: absolute;
        top: 0px;
        right: 0px;
        background-color: transparent;
        border: none;
        background-color: rgba(255, 255, 255, .05);
        border-radius: 0 3px 0 3px;
    }
    .no-bookmark{
        .bookmark{
            display: none;
        }
    }
}
.e-home,
.e-groupDetail,
.e-bookmark,
.e-schedule{
    .is-today{
        position: relative;
        .time-title{
        }
        .content{
        }
    }
    #is-today{
        position: absolute;
        left: 0;
        @include breakpoint(xs){
            top: -60px;
        }
        @include breakpoint(sm){
            top: -10px;
        }
    }
    .match-highlight{
        &.item .team,
        &.item .sco,
        &.item .round,
        &.item .number,
        {
            color: $wc-color;
            color: white;
        }
        &.item{
            background-color: #349ee2;
        }
        &.item:last-child{
            margin-bottom: 0;
        }
    }
}
.e-teamDetail,
{
    .is-today{
        padding-top: 0px;
        margin-bottom: 30px;
        // background-color: lighten($wc-color, 5%);
        // background-color: rgba(255, 255, 255, 1);
        // border: 1px solid #fff;
        .time-title{
            margin-bottom: 0;
            // background-color: lighten($wc-color, 10%);
            // background-color: rgba(255, 255, 255, 1);
        }
        .item .team,
        .item .sco,
        .item .round,
        .item .number,
        {
        }
        .item{
            > a{
                background-color: rgba($wc-color,.1) !important;
            }
            // background-color: rgba(black, .03);
            // background-color: $wc-co;
            // border: 1px solid rgba(black, .1);
        }
        .item:last-child{
            margin-bottom: 0;
        }
        .content{
            border: 1px solid rgba(0, 0, 0, .1);
            padding: 10px;
            border-top: none;
        }
    }
}
.e-teamDetail
{
    .time-title{
        color: $wc-color;
        background-color: rgba(0,0,0,.05);
        margin-bottom: 5px;
    }
    .e-list{
        padding: 0;
        background-color: transparent;
        .item{
            .number{
                background-color: $wc-color;
                color: #fff;
            }
            > a{
                border-radius: 3px;
                border: 1px solid #eee;
                background-color: #f7f7f7;
            }
            span{
                color: $wc-color;
            }
        }
        .content{
            padding-bottom: 10px;
        }
        .bookmark{
            background-color: rgba(0, 0, 0, .05);
            i{
                background-position: -50px -470px;
            }
            &.is-active{
                i{
                    background-position: -70px -470px;
                }
            }
        }
    }
}

// ==========
.e-group {
    background-color: #eee;
    padding: 10px 10px 15px;
    background-color: $wc-color;
    .cate-title {
        @include clearfix();
        margin-bottom: 10px;
    }
    .content {
        font-size: 0;
    }
    .item {
        background-color: #ddd;
        margin-bottom: 20px;
        border-radius: 5px;
        overflow: hidden;
        background: rgba(255, 255, 255, 0.1) url("../img/soccer/wc-group-bg.png") 95px 14px no-repeat;
        background-size: 40px 120px;
        position: relative;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .name {
        width: 100px;
        float: left;
        text-align: center;
        padding: 26px 20px 0 40px;
        span {
            display: block;
            font-size: 16px;
            color: #fff;
            &:last-child {
                font-size: 60px;
                line-height: 60px;
                text-transform: uppercase;
                // font-family: $font-worldcup;
            }
        }
    }
    .nations {
        margin-left: 140px;
        width: calc(100% - 170px);
        padding: 10px;
        i {
            vertical-align: top;
            display: inline-block;
            margin-right: 10px;
            margin-top: 2px;
        }
        span {
            @include font(18,
            28);
            display: inline-block;
        }
        a {
            display: block;
            margin-bottom: 5px;
            color: #fff;
            &:last-child {
                margin-bottom: 0;
            }
            &:hover {
                background-color: rgba(255, 255, 255, .2);
            }
        }
    }
    .show-more {
        @include font(16,
        40);
        text-align: right;
        padding-right: 10px;
        display: block;
        background-color: rgba(255, 255, 255, .2);
        position: absolute;
        top: 0px;
        right: 0px;
        width: 60px;
        height: 147px;
        span {
            display: none;
            color: #fff;
        }
        i {
            vertical-align: top;
            margin-top: 34px;
            width: 40px;
            height: 80px;
            background-position: -0px -450px;
        }
        &:hover {
            background-color: rgba(255, 255, 255, .5);
        }
    }
}

// ==========
.e-table {
    padding: 10px;
    background-color: $wc-color;
    color: #fff;
    padding-bottom: 30px;
    font-size: 0;
    a {
        color: #fff;
    }
    .content {
        margin-top: -38px;
    }
    .cate-title {}
    .row {
        @include clearfix();
        height: 46px;
        line-height: 46px;
        display: block;
        border-bottom: 1px solid rgba(255, 255, 255, .3);
        text-align: right;
        >* {
            display: inline-block;
            vertical-align: top;
            color: #fff;
        }
        &.title {}
        &:last-child {
            border-bottom: none;
        }
    }
    .image {
        width: 30px;
        float: left;
        i {
            vertical-align: top;
            margin-top: 12px;
            transform: scale(1.25);
        }
    }
    .team {
        float: left;
        padding-left: 10px;
        overflow: hidden;
        text-align: left;
        width: 95px;
        font-size: 16px;
        a {
            display: block;
        }
    }
    .pts {
        font-size: 16px;
        text-align: center;
        width: 19px;
        color: #fff;
        @include breakpoint($iphone-6) {
            width: 25px;
        }
        @include breakpoint($iphone-6-plus) {
            width: 30px;
        }
    }
    .show-more {
        background-color: rgba(255, 255, 255, .3);
        border-radius: 3px;
        text-align: center;
        padding-right: 5px;
        display: inline-block;
        width: 100%;
        font-size: 16px;
        i {
            vertical-align: top;
            margin-top: 4px;
        }
        span {
            display: inline-block;
            height: 30px;
            line-height: 28px;
            color: #fff;
        }
        &:hover {
            background-color: rgba(255, 255, 255, .5);
            span {
                color: #fff;
            }
            i {
                background-position: -82px -300px !important;
            }
        }
    }
    .current-team {
        background-color: rgba($wc-color, .1);
    }
    .live-team {
        .team a {
            color: red;
            -webkit-animation: live-colorBlink 1s infinite;
            -moz-animation: live-colorBlink 1s infinite;
            -o-animation: live-colorBlink 1s infinite;
            animation: live-colorBlink 1s infinite;
        }
    }
}

.e-matchDetail,
.e-teamDetail
{
    .e-table{
        padding: 0px;
        background-color: transparent;
        .content{
            margin-top: -15px;
        }
        .team {
            width: 110px;
            a {
                color: $wc-color;
            }
        }
        .pts {
            color: $wc-color;
        }
        .show-more {
            background-color: #f7f7f7;
            border: 1px solid #eee;
            i {
            }
            span {
                color: $wc-color;
            }
            &:hover {
                background-color: $wc-color;
                span {
                    color: #fff;
                }
            }
        }
    }
}

// ==========
.e-team {
    font-size: 16px;
    padding: 10px;
    background-color: $wc-color;
    color: #fff;
    padding-bottom: 30px;
    .cate-title {
        margin-bottom: 10px;
    }
    .item {
        border-radius: 3px;
        margin-bottom: 5px;
        height: 40px;
        line-height: 40px;
        background-color: #fff;
        display: block;
        padding: 0 10px;
        position: relative;
        background-color: rgba(255, 255, 255, .1);
        color: #fff;
        &:after {
            content: '';
            width: 16px;
            height: 30px;
            float: right;
            display: inline-block;
            margin-top: 5px;
            background-image: url('../img/soccer/wc-sprite-'+$worldcup-version+'.png');
            background-size: ($worldcup-w + px) ($worldcup-h + px);
            background-position: -66px -300px;
        }
        &:hover {
            background-color: rgba(255, 255, 255, .5);
        }
    }
    i {
        vertical-align: top;
        margin-top: 8px;
        margin-right: 5px;
    }
    .name {
        text-transform: uppercase;
        // font-family: $font-worldcup;
    }
}


// >  animation
@-webkit-keyframes live-colorBlink {
    0%,
    49% {
        color: rgba(255, 0, 0, 1)
    }
    100%,
    50% {
        color: rgba(255, 0, 0, .6)
    }
}

// ==========
@-webkit-keyframes livebg-blink {
    0%,
    49% {
        background-color: rgba(255, 0, 0, .7)
    }
    100%,
    50% {
        background-color: rgba(255, 0, 0, .4)
    }
}

// >  CODER REQUEST CODE
.lazy {
    width: 0;
    height: 0;
    float: left;
}

.hidden {
    display: none !important;
}